@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
  
@font-face {
    font-family: "Noto";
    src: url("./fonts/Noto/NotoSans-Regular.ttf") format("truetype");
}
  
@font-face {
    font-family: "Work";
    src: url("./fonts/Work/WorkSans-Medium.ttf") format("truetype");
}
:root{
    --dark-color: #202124;
    --yellow-color: #e4d919;
    --white: rgb(240, 229, 229);
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--dark-color) !important;
    color: var(--white);
    font-family: "Roboto", "Noto", "Work";
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.github-login-corner{
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    color: var(--white);
}

.octo-arm{transform-origin: 130px 106px;}
.github-login-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out infinite;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}
[class*="col-"]{
    float: left;
}
.row{
    overflow: hidden;
}

.col-6 {width: 50%;}

.form-error{
    color: #b92323;
    font-family: sans-serif;
    margin: 1rem .8rem;
}

.box{
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    width: -webkit-fill-available;
    width: -moz-available;
}

.box-title{
	font-weight: bold;
	text-align: center;
	font-family: "Noto";
	padding: 2px 5px;
	border-bottom: 0.5px solid #e6e6e6; 
    margin: 0.2rem 0;
}

.form-label {
    font-family: "Roboto", "Work";
    margin: 10px 0;
}
  
.form-group {
    margin: 16px 14px;
}
  
.form-control {
    border: 1px solid #bfbfbf;
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 5px;
    padding: 8px;
    font-family: "Noto";
}

.form-animate {
    position: relative;
    display: block;
    overflow: hidden;
}
.input-animate {
    width: -webkit-fill-available;
    width: -moz-available;
    border: none;
    display: inline-block;
    outline: none;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    border-bottom: 1px solid #7c7c7c;
}

.input-onFocus {
  transition: all 0.5s;
  display: inline-block;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #1a73e8;
}

.form-animate, .input-animate{
  color: inherit;
}

.form-animate .input-animate:focus + .input-onFocus { left: 0; }

.btn {
    display: inline-block;
    padding: 8px;
    border: 1px solid #999;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Noto", "Work";
    cursor: pointer;
}
  
.btn:hover {
    transition: 0.4s;
    transition-timing-function: ease-out;
}
.btn:active {
    box-shadow: 5px 2px 8px;
    transition: 0.3s;
    transition-timing-function: ease-in;
    opacity: 0.5;
}

.ml-3{
    margin-left: 3rem;
}

.auth-box{
    margin: 5rem 0;
    background-color: var(--yellow-color);
    box-shadow: 5px 5px 2px 2px #141929;
    color: var(--dark-color);
}

.link{
    color: inherit;
    opacity: .8;
    transition: .5s;
}

.link:hover{
    opacity: .4;
}
@media only screen and (max-width: 600px){
    [class*="col-"]:not([class*="col-ex"]) {
		width: 100% !important;
	}
}
@media only screen and (min-width: 600px){
    .container{
        width: 550px;
    }
}

@media only screen and (min-width: 768px){
    .container{
        width: 730px;
    }
}
@media only screen and (min-width: 992px){
    .container{
        width: 900px;
    }
}

@media only screen and (min-width: 1200px){
    .container{
        width: 1130px;
    }
}